body {
    background: #eeb329c0
}

/* nav container */

.container#nav {
    width: auto;
    min-width: 1000px;
    height: 30px;

    margin-bottom: 5%;

    grid-template-columns: 1fr auto 1fr;
    gap: 0px;
    display: grid;
}

.container-box#nav {
    border-bottom: 1px black solid;
    padding-bottom: 8px;
}

.left#nav {
    grid-column: 1;
    grid-row: 1;

    padding-left: 10px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

.middle#nav {
    grid-column: 2;
    grid-row: 1;

    gap: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right#nav {
    grid-column: 3;
    grid-row: 1;

    padding-right: 10px;

    gap: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

a#nav {
    color: #000000;
    margin: 4px 5px;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    display: flex;
}

button#nav {
    border: none;
    border-radius: 7px;
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;

    height: 33px;
    gap: 8px;
    display: inline-flex;
    align-items: center;

    background-color: #000000;
    padding: 2px 13px;

    cursor: pointer;
    transition: transform 0.3s ease;
}

button#nav:hover {
    transform: scale(1.05);
}

/* home header container */

.container#home-header {
    width: auto;
    min-width: 1100px;
    height: auto;
    min-height: 150px;
    max-height: 250px;

    gap: 0px;
    display: grid;
}

.container-box#home-header {
    border: 0px black solid;
}

.top#home-header {
    grid-column: 1;
    grid-row: 1;

    padding-top: 20px;
    line-height: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bottom#home-header {
    grid-column: 1;
    grid-row: 2;

    padding-top: 15px;
    padding-bottom: 15px;

    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p#home-header {
    color: #000000;
    margin: 4px 5px;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    display: flex;
}

button#home-header {
    border: none;
    border-radius: 7px;
    color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;

    height: 33px;
    gap: 8px;
    display: inline-flex;
    align-items: center;

    background-color: #000000;
    padding: 2px 13px;

    cursor: pointer;
    transition: transform 0.3s ease;
}

button#home-header:hover {
    transform: scale(1.1);
}

/* home body container */

.container#home-body {
    width: auto;
    min-width: 1100px;
    height: auto;
    min-height: 150px;
    max-height: 250px;

    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;

    gap: 20px;
    display: grid;
}

.container-box#home-body {
    border: 1px black solid;
    border-radius: 10px;

    padding: 20px;
    line-height: 20px;

    display: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left#home-body {
    grid-column: 1;
    grid-row: 1;
}

.middle#home-body {
    grid-column: 2;
    grid-row: 1;
}

.right#home-body {
    grid-column: 3;
    grid-row: 1;
}

.bottom#home-body {
    grid-column: 1 / span 3;
    grid-row: 2;
}

p#home-body {
    color: #000000;
    margin: 4px 5px;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    display: flex;
}

iframe#home-body {
    width: 100%;
    max-width: 800px;
    height: 450px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

iframe#home-body:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    #home-body {
        height: 300px;
    }
}

/* weather container */

.container-wrapper#weather {
    border: 0px black solid;

    display: inline-block;
}

.container#weather {
    width: 430px;
    height: auto;
    max-height: 300px;

    display: grid;
    gap: 2px;

    border-radius: 10px;
    background: linear-gradient(to right, #f3efdf, #e2ddd2);
}

.container-box#weather {
    border: 0px black solid;
}

.container-sub-box#weather {
    font-size: 15px;
    line-height: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.top#weather {
    grid-column: 1 / span 3;
    grid-row: 1;

    padding-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-left#weather {
    grid-column: 1;
    grid-row: 2;

    padding-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-middle#weather {
    grid-column: 2;
    grid-row: 2;

    padding-top: 10px;
}

.top-right#weather {
    grid-column: 3;
    grid-row: 2;

    padding-top: 10px;
    padding-right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.bottom#weather {
    grid-column: 1 / span 3;
    grid-row: 3;

    padding-top: 3px;
    padding-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

select#weather {
    color: #000000;
    margin: 4px 5px;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    
    width: 100%;
    padding: 5px;
    margin-left: auto;

    border: 1px solid transparent;
    border-radius: 10px;
    background: linear-gradient(to right, #f3efdf, #e2ddd2);
}

p#weather {
    color: #000000;
    margin: 4px 5px;
    line-height: 20px;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    display: flex;
}
  
/* images */

img {
    object-fit: contain;
}

.large {
    width: 80px;
    height: 80px;
}

.medium {
    width: 50px;
    height: 50px;
}

.small {
    width: 30px;
    height: 30px;
}

.extra-small {
    width: 20px;
    height: 20px;
}

/* text */

.title {
    font-weight: 500;
    font-size: 47px;
}

.subtitle {
    font-weight: 400;
    font-size: 21px;
}

.description {
    font-weight: 400;
    font-size: 16px;
}

.fine {
    font-weight: 200;
    font-size: 16px;
}